/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.


  -----
  the root element of a tree representing the document,
  the css variables are attached to the root and can be used globally
*/

:root {
    --aco-primary-color: rgba(0,0,0,.03);
    --aco-primary-color-dark: rgba(0,0,0,.125);;
    --aco-secondary-color: #ffffff;
    --aco-text-color: rgb(20, 17, 17);
    --aco-background-color: #a7c7ff;
    --aco-border-radius: 4px;
    --aco-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --aco-padding: .75rem 1.25rem;
}