.accordion {
  display: flex;
  flex-direction: column;
  font-family: var(--aco-font-family);
  border: 1px solid var(--aco-primary-color-dark);
  border-radius: var(--aco-border-radius);
  overflow: hidden;
}

.header {
  background-color: var(--aco-primary-color);
  color: var(--aco-text-color);
  padding: var(--aco-padding);
  border-bottom: 0;
  outline: none;
  text-align: start;
  cursor: pointer;
  font-size: 1.25em;
}

.angle polyline {
  stroke: var(--aco-text-color);
  stroke-width: 10;
}

.header .angle {
  transition: all 200ms ease-in-out;
  margin-right: 10px;
  vertical-align: .15em;
}

.header.active {
  border-bottom: 1px solid var(--aco-primary-color-dark);
}

.header.active .angle {
  transform: rotate(90deg);
}

.content {
  flex: 1 1 auto;
  min-height: 1px;
  padding: var(--aco-padding);
  background-color: var(--aco-secondary-color);
}

.content.show {
  max-height: 400px;
  opacity: 1;
  transition: all 0.5s ease-in;
}

.content.hide {
  opacity: 0;
  max-height: 0;
  padding: 0;
  transition: all 0.25s ease-out;
}